---
layout: main
---
<section class="module bg-dark-60 portfolio-page-header" data-background="/assets/images/heros/portfolio.jpeg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Portfolio</h2>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <ul class="works-grid works-grid-gut works-hover-w" id="works-grid">
      {% for item in site.portfolio %}
        <li class="work-item illustration webdesign"><a href="{{- item.url -}}" >
          <div class="work-image"><img src="/assets/images/portfolio/{{ item.hero_image }}" alt="{{ item.subtitle }}"/></div>
          <div class="work-caption font-alt">
            <h3 class="work-title">{{ item.title }}</h3>
            <div class="work-descr">{{ item.subtitle }}</div>
          </div></a></li>
      {% endfor %}
    </ul>
  </div>
</section>
{% include cta.html title="What are you waiting for?" link="mailto:" link_action="Start Building!" %}
{% include services.html title="Services" %}
