<section class="module pt-0 pb-0" id="about">
  <div class="row position-relative m-0">
    <div class="col-xs-12 col-md-6 side-image" data-background="assets/images/{{ site.data.about_us.side_image }}"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="module-title font-alt align-left">{{ site.data.about_us.title }}</h2>
          <div class="module-subtitle font-serif align-left">{{ site.data.about_us.subtitle }}</div>
          {% for detail in site.data.about_us.details %}
            <p>{{ detail }}</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
