---
layout: main
---
<section class="module bg-dark-60 portfolio-page-header" data-background="/assets/images/heros/portfolio.jpeg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">About</h2>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="font-alt">{{ page.title }}</h5><br/>
        {{ content }}
      </div>
      <div class="col-sm-6">
        <h6 class="font-alt"><span class="icon-tools-2"></span> Development
        </h6>
        <div class="progress">
          <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
        </div>
        <h6 class="font-alt"><span class="icon-strategy"></span> Branding
        </h6>
        <div class="progress">
          <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
        </div>
        <h6 class="font-alt"><span class="icon-target"></span> Marketing
        </h6>
        <div class="progress">
          <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
        </div>
        <h6 class="font-alt"><span class="icon-camera"></span> Photography
        </h6>
        <div class="progress">
          <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-w">
{% include team.html %}
{% include cta.html title="What are you waiting for?" link="mailto:" link_action="Start Building!" %}
{% include services.html title="Services" %}
