---
layout: main
---
<section class="module bg-dark-60 portfolio-page-header" data-background="/assets/images/heros/portfolio.jpeg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">About Us</h2>
      </div>
    </div>
  </div>
</section>
<section class="module pt-0 pb-0" id="about">
  <div class="row position-relative m-0">
    <div class="col-xs-12 col-md-6 side-image" data-background="/assets/images/{{ page.image }}"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
      <div class="row">
        <h2 class="module-title font-alt align-left">{{ page.title }}</h2>
        {{ content }}

        </br>
        <a class="btn btn-border-d  btn-circle" href="{% link portfolio.html %}">Our Projects</a>
    </div>
  </div>
</section>
<hr class="divider-w">
{% include team.html %}
{% include cta.html title="What are you waiting for?" link="mailto:" link_action="Start Building!" %}
{% include services.html title="Services" %}
